.navbar {
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(34, 60, 80, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin: 15px 0px;
}

.navImg {
  height: 23px;
  width: 150px;
  left: 111px;
  top: 64px;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navItems > a {
  font-size: 18px;
  margin: 0 15px;
  text-decoration: none;
  cursor: pointer;
  list-style-type: none;
  color: #000;
  background: linear-gradient(currentColor, currentColor) 50% 100% no-repeat;
  background-size: 0 1px;
  transition: background 250ms ease 0s;
}

.navItems > a:hover {
  background-size: 100% 1px;
}
